*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 72px;
}

body,
html {
  height: 100%;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  inset: 0;
  z-index: 2000;
  background-color: hsl(0, 0%, 3%);
  display: grid;
  place-content: center;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
.loader-container svg {
  width: 40rem;
  font-weight: bold;
}
.loader-container svg text {
  font-size: 10rem;
  stroke-width: 2;
  letter-spacing: -6px;
}
.loader-container svg text.text-body {
  stroke: #fff;
  animation: animation-stroke 4s alternate infinite;
}

.hide-loader {
  opacity: 0;
  visibility: hidden;
}

@keyframes animation-stroke {
  0% {
    fill: transparent;
    stroke: #fff;
    stroke-width: 3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }
  50% {
    fill: transparent;
    stroke: #fff;
    stroke-width: 3;
  }
  80%, 100% {
    fill: #fff;
    stroke: transparent;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }
}
.wrapper {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  max-width: 1500px;
}

.white-block {
  position: absolute;
  height: 50px;
  width: 50%;
  background-color: hsl(0, 0%, 25%);
}
.white-block-left {
  bottom: -2px;
  left: -50px;
  transform: skew(45deg);
}
.white-block-right {
  top: 0;
  right: -50px;
  transform: skew(45deg);
}

.btn-animation {
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s;
  z-index: 0;
}
.btn-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
}
.btn-animation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.section-heading {
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  color: hsl(0, 0%, 80%);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.heading {
  position: relative;
  padding: 0.3em 0;
}
.heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 3px;
  border-radius: 25px;
  background-color: #ff5833;
}

.section-padding {
  padding: 6em 0;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding-top: 8em 0;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding-top: 10em 0;
  }
}
body {
  background-color: hsl(0, 0%, 25%);
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: hsl(0, 0%, 80%);
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 60px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  content: "";
  position: absolute;
  right: 0;
  height: 3px;
  background-color: hsl(0, 0%, 80%);
  transition: width 0.3s;
}
.burger-btn__bars {
  top: 0;
  width: 100%;
}
.burger-btn__bars::after {
  top: 12px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 24px;
  width: 30%;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
  transition: background-color 0.2s;
  z-index: 1000;
}
.nav__logo {
  display: flex;
  align-items: center;
  margin: 1em 2em;
}
.nav__logo-img {
  width: 80px;
  height: 80px;
  transition: width 0.3s, height 0.3s;
}
.nav__logo-img--active {
  width: 80px;
  height: 80px;
}
.nav__logo-text {
  font-size: clamp(2.2rem, 3vw, 3.2rem);
  color: hsl(0, 0%, 80%);
  transition: font-size 0.3s;
}
.nav__logo-text--span {
  color: #ff5833;
}
.nav__logo-text--active {
  font-size: 2.2rem;
}
.nav__items {
  display: none;
}
.nav__item {
  font-size: clamp(2.8rem, 3vw, 4rem);
  color: hsl(0, 0%, 89%);
}
.nav--scroll {
  background-color: rgba(0, 0, 0, 0.9);
}

.header {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  background-image: url("../img/buildings-2602324_1920.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: -1;
}
.header__heading {
  padding: 0 1em;
  color: hsl(0, 0%, 80%);
  font-weight: bold;
  font-size: clamp(2.8rem, 5vw, 4.8rem);
}
.header__heading span {
  color: #ff5833;
}
.header__browser {
  display: none;
}
.header__btn {
  padding: 1em 2em;
  border: 2px solid #ff5833;
  border-radius: 8px;
  font-weight: bold;
  font-size: 2rem;
  color: hsl(0, 0%, 89%);
}

.article-header {
  height: 60vh;
  background-image: url("../img/article-header.jpg");
}

.article-maker {
  height: 60vh;
  background-image: url("../img/article-header.jpg");
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}
.cards .card {
  width: 400px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  color: hsl(0, 0%, 80%);
  overflow: hidden;
}
.cards .card__top {
  overflow: hidden;
}
.cards .card__top img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 400px;
  height: 300px;
}
.cards .card__bottom {
  padding: 2em 2em;
  min-height: 400px;
  border-top: 3px solid hsl(0, 0%, 89%);
}
.cards .card__bottom-title {
  margin-bottom: 1em;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: clamp(2.8rem, 3vw, 3.8rem);
}
.cards .card__bottom-text {
  font-size: clamp(1.8rem, 3vw, 2rem);
}
.cards .card__bottom-info {
  margin-top: 1em;
  font-size: 1.7rem;
}
.cards .card__bottom-link {
  margin-top: 2em;
  text-align: right;
}
.cards .card__bottom-link a {
  color: #ff5833;
  font-size: 2rem;
  font-weight: 700;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  height: 50vh;
  background-image: url("../img/buildings-2602324_1920.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 1;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.container hr {
  width: 80%;
  border-radius: 25px;
}
.container__heading {
  padding: 0 2em;
  font-size: 3rem;
  font-weight: 300;
  color: hsl(0, 0%, 80%);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.article__content {
  margin: 5em 0;
  font-size: 2rem;
}

.form-maker {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3em;
}
.form-maker .input-container {
  position: relative;
  width: 80%;
}
.form-maker .form-input {
  padding: 1em;
  width: 100%;
  background: none;
  border: 2px solid #ff5833;
  color: hsl(0, 0%, 89%);
}
.form-maker .form-file {
  padding: 1em;
  border: 2px solid #ff5833;
}
.form-maker .form-label {
  position: absolute;
  padding: 0 0.5em;
  top: -10px;
  left: 30px;
  background-color: hsl(0, 0%, 25%);
}
.form-maker .msg {
  width: 100%;
  min-height: 300px;
  resize: vertical;
  background: none;
  border: 2px solid #ff5833;
}
.form-maker .btn {
  padding: 1em 2em;
  border: 2px solid #ff5833;
  background: none;
  cursor: pointer;
  color: hsl(0, 0%, 89%);
  transition: background-color 0.2s;
  font-size: 2.2rem;
}
.form-maker .btn:hover {
  background-color: #f86d4e;
}

.article__gallery {
  display: grid;
  padding: 0;
  margin: 0;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-auto-rows: 40rem;
  grid-auto-flow: dense;
}
.article__gallery-img {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 12px;
}

.aboutUs__title {
  margin-bottom: 1em;
  font-size: clamp(2.2rem, 3vw, 2.8rem);
}
.aboutUs__title span {
  position: relative;
}
.aboutUs__title span::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 40%;
  height: 3px;
  border-radius: 25px;
  background-color: #ff5833;
}
.aboutUs__history {
  margin-bottom: 5em;
}
.aboutUs__text {
  font-size: clamp(2rem, 3vw, 2.2rem);
}

.contact {
  position: relative;
  background-image: linear-gradient(90deg, rgb(255, 88, 51) 0%, rgb(85, 85, 85) 70%);
  overflow: hidden;
}
.contact .white-block-left {
  background-color: hsl(0, 0%, 25%);
}
.contact__form-top, .contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form-label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.contact__form-input {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
}
.contact__form-textarea {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  resize: vertical;
}
.contact__form-btn {
  align-self: flex-end;
  padding: 1em;
  width: 100%;
  max-width: 300px;
  color: hsl(0, 0%, 89%);
  border: none;
  border-radius: 8px;
  background-color: #ff5833;
  cursor: pointer;
}
.contact__form-btn::before {
  background-color: #f86d4e;
}

.footer {
  position: relative;
  color: hsl(0, 0%, 89%);
  background-color: hsl(0, 0%, 25%);
}
.footer .wrapper {
  padding: 6em 2em 2em;
}
.footer__box {
  font-size: 1.6rem;
  width: 30%;
}
.footer__box-title i {
  margin-right: 0.3em;
}
.footer__box-desktop {
  display: none;
}
.footer__box-title {
  margin-bottom: 1em;
  font-size: 3rem;
  text-transform: uppercase;
}
.footer__box-social {
  margin: 6em 0 2em;
  text-align: center;
}
.footer__box-link {
  padding: 0 0.3em;
  font-size: 3.6rem;
  color: hsl(0, 0%, 89%);
  text-decoration: none;
  transition: color 0.3s;
}
.footer__box-link:first-child {
  padding-left: 0;
}
.footer__box-link:hover {
  color: #ff5833;
}
.footer__bottom-text {
  padding: 2em;
  text-align: center;
}

@media (min-width: 600px) {
  .header__browser {
    width: 40%;
  }
  .header__browser-input {
    padding: 1em 1.5em;
    width: 100%;
    background: none;
    border: 2px solid #ff5833;
    border-radius: 12px;
    color: hsl(0, 0%, 89%);
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .nav {
    justify-content: space-around;
  }
  .nav__items {
    position: unset;
    display: flex;
    align-items: center;
  }
  .nav__item {
    position: relative;
    margin: 0.5em 0;
    padding: 0.5em 2em;
    font-size: clamp(2.2rem, 3vw, 2.8rem);
    color: hsl(0, 0%, 80%);
    text-decoration: none;
    font-weight: 300;
    text-align: center;
  }
  .nav__item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 60%;
    border-radius: 25px;
    scale: 0;
    translate: -50%;
    background-color: #ff5833;
    transition: scale 0.2s;
  }
  .nav__item:hover::before {
    scale: 1;
  }
  .nav__logo-img {
    width: 150px;
    height: 150px;
  }
  .nav__logo-img--active {
    width: 80px;
    height: 80px;
  }
  .burger-btn {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */