$orange-color: #ff5833;
$pure-white: hsl(0, 0%, 89%);
$black-color: hsl(0, 0%, 3%);
$dark-gray: hsl(0, 0%, 25%);
$light-gray: hsl(0, 0%, 80%);
$gold-color: hsl(51, 100%, 50%);

$light-gradient: linear-gradient(90deg, rgba(255,88,51,1) 0%, rgba(85,85,85,1) 70%);
