$orange-color: hsl(11, 100%, 60%);
$pure-white: hsl(0, 0%, 89%);
$black-color: hsl(0, 0%, 3%);
$dark-gray: hsl(0, 0%, 25%);
$light-gray: hsl(0, 0%, 80%);
$gold-color: hsl(51, 100%, 50%);

$light-gradient: linear-gradient(to right, #007bff, #555555);
